{% extends "base.html" %} {% block title %}My amazing blog{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="row">
        </p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3> 1. Медицинские мероприятия для диагностики заболевания, состояния </h3>
            </p>
            <form name="form_1" class="row g-3 needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="container-fluid">
                    <!-- Таблица со списком необходимых проверок -->
                    <div class="list-group list-group-item">
                        {{table_osmotry|safe}}
                        <p></p>
                    </div>
                    <!-- Таблица со списком необходимых проверок -->
                    <div class="list-group list-group-item">
                        {{table_labmet|safe}}
                        <p></p>
                    </div>
                    <!-- Таблица со списком необходимых проверок -->
                    <div class="list-group list-group-item">
                        {{table_instr_metody|safe}}
                        <p></p>
                    </div>
                    <!-- Таблица со списком необходимых проверок -->
                    <div class="list-group list-group-item">
                        {{table_innye_metody|safe}}
                        <p></p>
                    </div>
                    <p></p>
                    <!-- Таблица со списком необходимых проверок -->
                    <h3> 3. Перечень лекарственных препаратов для медицинского применения, зарегистрированных на территории Российской Федерации, с указанием средних суточных и курсовых доз </h3>
                    <div class="list-group list-group-item">
                        {{table_learstv|safe}}
                        <p></p>
                    </div>

                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>

        </div>
        <div class="col-sm-4 ">
            <h3> Список нормативной документации </h3>
            </p>
            <div class="list-group ">
                <a href="# " class="list-group-item list-group-item-action ">
                    <div class="d-flex w-100 justify-content-between ">
                        <h5 class="mb-1 ">Приказ № 1497н</h5>
                    </div>
                    <p class="mb-1 ">"Об утверждении стандарта специализированной медицинской помощи при поражениях лицевого нерва"</p>
                    <small class="text-muted ">Нажмите для просмотра.</small>
                </a>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function analyzeText() {
        var text = document.getElementById('text-to-analyze').value;

        $.ajax({
            type: "POST",
            url: '{{ '/life_checker_app/myajaxtest/' }}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                text: text
            },
            success: function callback(response) {
                /* do whatever with the response */
                alert(response);
            }
        });
    }
</script>

<textarea id="text-to-analyze" rows="12" cols="100"></textarea><br>
<input type="submit" id="button" value="process" onclick="analyzeText();">



</div>

 {% endblock %}